/******************************** BODY ***************************************/
body{
    background: rgb(240,240,255);
    font-size: 11pt;
    margin: 0 auto;
}

/****************************** COMUNES GENERALES ****************************/
header, footer, #secciones, #menuPrincipal{
    margin-top: 5px;
}


/********************************** HEADER ***********************************/
header h1{
    text-align: left;
    margin-top: 30px;
    letter-spacing: 5px;
    word-spacing: 10px;
    font-weight: bold;
}

h2{
    text-align: left;
    font-style: italic;
    color: #333333;
}

h3{
    text-align: center;
}

p{
    font: normal 11pt Arial;
}

/********************************* SECCIONES ********************************/

#secciones{
    min-height: 400px;
}



#secciones article{
    background: rgb(253,253,255);
    border-radius: 10px;
    padding: 30px;
    min-height: 420px;
    box-shadow: 4px 4px 5px darkgrey;
    margin-bottom: 10px;
}

figcaption{
    font-size: 0.9em;
    color: darkgrey;
}

.menuPrincipal{
    color: white; 
}

/* Color para los elementos del menú que queramos que sean blancos */
.menuItemLb, .menuItemLb > .rf-ddm-itm-lbl{
    color: rgb(250,250,255); 
    font-family: Arial; 
    font-size: 11pt;
}

/******************************* MENSAJES ***********************************/
.mensajeError{
    color: rgb(150,0,0);
    font-weight: bold;
    margin: 5px 0px 10px 10px;
    font: bold 12pt Arial, sans-serif;
}

.msgOkGlobal .rf-msgs, .msgOkGlobal .rf-msgs-err,.msgOkGlobal .rf-msgs-sum{
    display: block;
    text-align: center;
    margin: 10px auto;
    font: bold 12pt Arial, sans-serif !important;
    color: rgb(20,20,170) !important; 
}


.msgErrorGlobal .rf-msgs, .msgErrorGlobal .rf-msgs-err,.msgErrorGlobal .rf-msgs-sum{
    display: block;
    text-align: center;
    margin: 10px auto;
    font: bold 12pt Arial, sans-serif !important;
    color: rgb(170,20,20) !important; 
}

.panel{
    background: none;
    box-shadow: none;
}

input{
    margin-bottom: 10px;
}

label{
    font-size: 11pt;
}

/***************** MENSAJES DE BIENVENIDA AL LOGUEARTE ***********************/
.msgBienvenida, .msgBienvenida > .rf-ddm-itm-lbl{
    background: inherit;
    color: rgb(245,245,255);
    font: italic bold 10pt sans-serif;
    border: inherit;
}

.msgBienvenida:hover{
    background: none;
    border: none;
    cursor: inherit;
}

/************************** CAPA BOTONES PIE  ********************************/
div.botones{
    text-align: center;
}

/*************************** CLASE PARA BOTON ********************************/
.boton{
    margin: 10px 20px;
    padding: 5px;
    border-radius: 10px;
    font: bold 10pt Arial, sans-serif !important;
}

.botonFuera{
    margin: 10px 20px;
    padding: 5px 30px;
    border-radius: 3px;
    font: bold 10pt Arial, sans-serif !important;
}

/*************************** MENSAJES OK ************************************/
   
.msgOk{
    font: bold 12pt Arial, sans-serif;
    color: rgb(0,150,0);
}

/************************** CABECERAS DE MODALES *****************************/
.cabeceraModal{
    font: bold 12pt Arial, sans-serif;
    text-align: center;
}

label{
    margin-right: 10px;
}


/************************ MENSAJES ERRORES INDIVIDUALES **********************/

.rf-msg-err{
    margin-left: 10px;
}

/************************* CABECERAS MENÚ HORIZONTAL *************************/
.cabeMenuHori{
    color: white;
    font: bold 14pt Arial, sans-serif !important;
}

.submenuLateral{
    color: black;
    margin-left: 10px;
    padding: 5px;
}

/********************************* DATATABLE *********************************/
.even-row {
    background-color: #FCFFFE;
}

.odd-row {
    background-color: #ECF3FE;
}

.even-row:hover,
.odd-row:hover {
    background-color: #FFEBDA;
    cursor: pointer;
}

/********************************* DATA SCROLLER ****************************/

.rf-dt-ftr-c, .rf-dt-ftr{
    background-color: #a1c9dd !important;
}

/**************************** CUADROS DE INFORMACION *************************/

.paneles{
    padding: 0px !important;
    margin: 20px auto;
}

.etiquetaBasica{
    font-weight: bold;
    margin-right: 20px;
}

/**************************** COLOR ENLACES TABLA ****************************/
.rf-dt-c-srt{
    color: white !important;
}
.rf-dt-c-srt:hover{
    color: cyan !important;
}

/* Secciones públicas */
.seccionInteres{
    margin-top: 30px;
    margin-bottom: 30px;
    background: white;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px darkgrey;
}

/* Imagen en las zonas comunes */
.imagenPublica{
    margin: 20px auto;
    text-align: center;
    border: solid 3px #f0f0f0;
}

/********************************** FOOTER ***********************************/
footer{
    text-align: center;
    background-color: #222;
    color: white;
}

#redesSociales, #datosPie, #enlacesPie, footer{
    overflow: hidden;
}

#redesSociales{
    padding: 10px 50px;
    height: 60px;
    background-color: #2c2c2c;
}

#datosPie{
    height: 70px;
    background-color: #006290
}

#enlacesPie{
    padding: 10px;
}

#enlacesPie ul{
    list-style: none;
    display: inline-block;
    margin: 5px 10%;
    width: 200px;
}

#enlacesPie ul li{
    margin: 10px auto;
}

#enlacesPie ul li a{
    font: italic 11pt Arial;
    color: cyan;
}

.cabeceraSeccion p, h2.cabeceraSeccion{
    text-align: center; 
    color: #006290; 
    padding: 0px; 
    font: bold 18pt Arial;
    letter-spacing: 3px;
    word-spacing: 6px;
    text-shadow: 2px 2px lightgray; 
}

.servicios-cu{
    width: 150px; 
    display: inline-block; 
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px lightgray;
}

.datosError{
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
    margin-bottom: 30px;
}

.datosError h2{
    font-size: 18pt !important;
    text-align: center;
}